/* 在CSS文件顶部添加 */
/* google可以一次導入很多個CSS字體 */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@600&family=Noto+Serif+TC:wght@300;400;500;600;700&family=Playfair+Display&family=Rubik:ital,wght@0,700;1,700&display=swap);

/* body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */
/* cwTeXKai 楷體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
/* cwTeXYen 圓體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/* cwTeXFangSong 仿宋體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* cwTeXMing 明體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: "Noto Sans TC", "cwTeXKai", "cwTeXYen", "cwTeXFangSong", "Noto Serif TC", sans-serif;
}

.rubik-normal {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.noto-sans tc-normal {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.noto-serif tc-light {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-style: normal;
}

.noto-serif tc-bold {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-style: normal;
}